---
import { slug as slugger } from "github-slugger";
import type { CollectionEntry } from "astro:content";
import SeriesLink from "./SeriesLink.astro";
import {FormattedDate} from "../utils/FormattedDate";
import TagLink from "./TagLink.astro";
import {Image} from "astro:assets";
import profileImage from "../assets/images/profile_image.webp";

interface Props {
    post: CollectionEntry<"posts">
}

const { post } = Astro.props;

const { title, description, date, series, tags} = post.data;

const ogImageLink = `/posts/${slugger(title)}.png`;
const ogImageWidth = 200;
const ogImageHeight = 50;
---

<div class="flex flex-col pb-6 border-b-2">
    <a href={"/posts/" + slugger(title)}>
        <Image 
            class="rounded-md w-full h-40 object-cover bg-black" 
            src={ogImageLink} 
            width={ogImageWidth} height={ogImageHeight} 
            alt={"Thumbnail of " + title} />
    </a>

    <div class="space-x-2 mt-2">
        <a href={"/posts/" + slugger(title)} class="text-lg font-bold">{title}</a>
        {!!series &&
        <SeriesLink series={series} />
        }
    </div>

    <p class="text-sm text-gray-400">{FormattedDate(date)}</p>

    {!!description&& <p class="mt-2 text-zinc-400">{description}</p>}

    {!!tags && 
    <div class="mt-2 flex gap-3">
        {tags.map(tag => (<TagLink tag={tag} />))}
    </div>
    }

</div>
