---
import { slug as slugger } from "github-slugger";
import type { CollectionEntry } from "astro:content";
import SeriesLink from "./SeriesLink.astro";
import {FormattedDate} from "@utils/FormattedDate";
import {Image} from "astro:assets";
import TagList from "./TagList.astro";

interface Props {
    post: CollectionEntry<"posts">
}

const { post } = Astro.props;

const { title, description, date, series, tags, og} = post.data;
---

<div class="flex flex-col pb-6 border-b-2 w-full">
    <a href={"/posts/" + slugger(title)}>
        {og ? 
            <Image 
                class="rounded-xl w-full h-1/2 object-cover bg-black" 
                src={og.img} 
                alt={og.alt} />
        :
            <Image 
                class="rounded-xl w-full h-1/2 object-cover bg-black" 
                src={`/posts/${slugger(title)}.png`} 
                width={1200} height={630} 
                alt={"Thumbnail of " + title} />
        }
    </a>

    <div class="space-x-2 mt-2">
        <a href={"/posts/" + slugger(title)} class="text-lg font-bold">{title}</a>
        {!!series &&
        <SeriesLink series={series} />
        }
    </div>

    <p class="text-sm text-gray-400">{FormattedDate(date)}</p>

    {!!description&& <p class="mt-2 text-zinc-400">{description}</p>}

    {!!tags && 
        <div class="mt-2">
            <TagList tags={tags} />
        </div>
    }

</div>
